section.events
	.container
		+heading('Events')
		.events__slider.js-slider-events
			.swiper-wrapper
				.card-events.swiper-slide
					.card-events__top
						.card-events__date 20 / 09
						.card-events__time 13:00 - 16:00
					.card-events__content(style='background-image: url("images/events/1.jpg")')
						h4 Think Tank Needs to Build a National Research System
						.card-events__status.status.status--online Online
				.card-events.swiper-slide
					.card-events__top
						.card-events__date 20 / 09
						.card-events__time 13:00 - 16:00
					.card-events__content(style='background-image: url("images/events/1.jpg")')
						h4 Think Tank Needs to Build a National Research System
						.card-events__status.status.status--offline Online
				.card-events.swiper-slide
					.card-events__top
						.card-events__date 20 / 09
						.card-events__time 13:00 - 16:00
					.card-events__content(style='background-image: url("images/events/1.jpg")')
						h4 Think Tank Needs to Build a National Research System
						.card-events__status.status.status--offline Online
				.card-events.swiper-slide
					.card-events__top
						.card-events__date 20 / 09
						.card-events__time 13:00 - 16:00
					.card-events__content(style='background-image: url("images/events/1.jpg")')
						h4 Think Tank Needs to Build a National Research System
						.card-events__status.status.status--online Online
				.card-events.swiper-slide
					.card-events__top
						.card-events__date 20 / 09
						.card-events__time 13:00 - 16:00
					.card-events__content(style='background-image: url("images/events/1.jpg")')
						h4 Think Tank Needs to Build a National Research System
						.card-events__status.status.status--online Online