header.header
	.container.container--big.header__container
		.header__col
			a.header__logo.d-none-mobile(href='/')
				+icon('logo')(width='243', height='62')
			a.header__logo.d-none-desktop(href='/')
				+icon('logo-2')(width='145', height='37')
			nav.header__menu
				li
					a(href='publications.html', target='_blank') Publications
				li
					a(href='news.html', target='_blank') News
				li
					a(href='events.html', target='_blank') Events
				li
					a(href='about.html', target='_blank') Who we are
					ul
						li
							a(href='#', target='_blank') ENG
						li
							a(href='#', target='_blank') KOR
						li
							a(href='#', target='_blank') RUS
				li
					a(href='partners.html', target='_blank') Partners
		.header__col
			include search.pug
			include lang-switcher.pug
			.header-m
				input(type='search', name='search')
				.header-m__burger-wrapper
					.header-m__burger
						span
	.header-menu
		a.header__logo(href='/')
			+icon('logo-2')(width='145', height='37')
		nav.header__menu
			li
				a(href='publications.html', target='_blank') Publications
			li
				a(href='news.html', target='_blank') News
			li
				a(href='events.html', target='_blank') Events
			li
				a(href='about.html', target='_blank') Who we are
			li
				a(href='partners.html', target='_blank') Partners
		.header-menu__close
			+icon('close')(width='7', height='7')
