.events-single {
	$parent: &;

	padding: 111px 0 128px;

	@include max(md) {
		padding: 50px 0 70px;
	}

	&__captions {
		margin-top: 64px;

		@include max(md) {
			margin-top: 40px;
		}
	}

	&__caption {
		& + #{$parent}__caption {
			margin-top: 16px;

			@include max(md) {
				margin-top: 10px;
			}
		}
	}

	&__note {
		padding: 25px 35px;
		background-color: $yellow;
		font-size: 16px;
		line-height: 21px;
		letter-spacing: 0.01em;
		color: $black-23;
		margin-top: 64px;

		@include max(md) {
			margin-top: 40px;
		}
	}

	&__filter-tags {
		margin-top: 64px;
		padding-left: 10px;

		@include max(md) {
			margin-top: 40px;
		}

		.filter-tags__row {
			gap: 10px;
		}

		.filter-tags__item:last-of-type {
			margin-right: 10px;
		}
	}

	&__table {
		margin-top: 128px;

		@include max(lg) {
			margin-top: 80px;
		}

		@include max(md) {
			margin-top: 40px;
		}

		&--small {
			max-width: 791px;
		}
	}

	&__block {
		max-width: 791px;
		margin-top: 128px;

		@include max(lg) {
			margin-top: 80px;
		}

		@include max(md) {
			margin-top: 40px;
		}
	}

	&__subtitle {
		margin-bottom: 32px;

		@include max(md) {
			margin-bottom: 15px;
		}
	}

	&__text,
	&__list {
		font-size: 16px;
		line-height: 21px;
		letter-spacing: 0.01em;
		color: $black-23;
		word-break: break-word;

		@include max(md) {
			font-size: 14px;
		}

		p + p {
			margin-top: 15px;

			@include max(md) {
				margin-top: 10px;
			}
		}

		a {
			color: $blue-0a;

			@include hover {
				text-decoration: underline;
			}
		}
	}

	ul#{$parent}__list {
		margin-top: 18px;

		li {
			position: relative;
			padding-left: 55px;
			line-height: 19px;
			letter-spacing: 0.02em;
			word-break: break-word;

			@include max(md) {
				padding-left: 32px;
			}

			& + li {
				margin-top: 12px;
			}

			&::before {
				content: '';
				display: block;
				width: 44px;
				height: 3px;
				background-color: $blue-0a;
				position: absolute;
				top: 8px;
				left: 0;

				@include max(md) {
					width: 22px;
				}
			}
		}
	}

	&__photo-slider {
		margin-top: 128px;

		@include max(lg) {
			margin-top: 80px;
		}

		@include max(md) {
			margin-top: 40px;
		}
	}

	&__back {
		display: flex;
		justify-content: center;
		margin-top: 65px;

		@include max(md) {
			margin-top: 32px;
		}

		a {
			max-width: 120px;
		}
	}
}