.caption {
	width: auto;

	&__type {
		min-width: 253px;
		max-width: 253px;
		padding: 11.5px 18px;
		border-left: 3px solid $blue-0a;
		background-color: $white;
		font-size: 16px;
		line-height: 130%;
		letter-spacing: 0.01em;
		color: $black-23;
	}
}