extends ../layouts/default

block vars
	-
		const page = {
			title: 'Events | Korustec'
		};

block main
	.events-page
		.container
			h1 Events
			.events-page__events.events
				.events-page__subtitle
					span Upcoming:
					.events-page__slider-nav
						.events-page__slider-prev
							+icon('chevron-right')(width='14', height='24')
						.events-page__slider-next
							+icon('chevron-right')(width='14', height='24')
				.events__slider.js-slider-events-2
					.swiper-wrapper
						.card-events.swiper-slide
							.card-events__top
								.card-events__date 20 / 09
								.card-events__time 13:00 - 16:00
							.card-events__content(style='background-image: url("images/events/1.jpg")')
								h4 Think Tank Needs to Build a National Research System
								.card-events__status.status.status--online Online
						.card-events.swiper-slide
							.card-events__top
								.card-events__date 20 / 09
								.card-events__time 13:00 - 16:00
							.card-events__content(style='background-image: url("images/events/1.jpg")')
								h4 Think Tank Needs to Build a National Research System
								.card-events__status.status.status--offline Online
						.card-events.swiper-slide
							.card-events__top
								.card-events__date 20 / 09
								.card-events__time 13:00 - 16:00
							.card-events__content(style='background-image: url("images/events/1.jpg")')
								h4 Think Tank Needs to Build a National Research System
								.card-events__status.status.status--offline Online
						.card-events.swiper-slide
							.card-events__top
								.card-events__date 20 / 09
								.card-events__time 13:00 - 16:00
							.card-events__content(style='background-image: url("images/events/1.jpg")')
								h4 Think Tank Needs to Build a National Research System
								.card-events__status.status.status--online Online
						.card-events.swiper-slide
							.card-events__top
								.card-events__date 20 / 09
								.card-events__time 13:00 - 16:00
							.card-events__content(style='background-image: url("images/events/1.jpg")')
								h4 Think Tank Needs to Build a National Research System
								.card-events__status.status.status--online Online
		.container
			.events-page__subtitle
				span Past:
		.container.events-page__container-full
			.events-page__block
				.events-page__year-list
					.events-page__year-digit 20<br>22
					.events-page__year-wrapper
						.events-page__card-events-single.card-events-single
							.card-events-single__image-wrapper
								.card-events-single__image
									img(src='images/events/2.jpg', alt='')
							.card-events-single__content
								h4 Think Tank Needs to Build a <br class="d-none-mobile"> National Research <br class="d-none-mobile"> System
								.card-events-single__captions
									+caption('Date: ', '', '20/09/2022', 'card-events-single__caption')
									+caption('Time: ', '', '13:00 - 16:00', 'card-events-single__caption')
								.card-events-single__status.status.status--offline.status--dark.status--align-left Offline
						.events-page__card-events-single.card-events-single
							.card-events-single__image-wrapper
								.card-events-single__image
									img(src='images/events/1.jpg', alt='')
							.card-events-single__content
								h4 Think Tank Needs to Build a <br class="d-none-mobile"> National Research <br class="d-none-mobile"> System
								.card-events-single__captions
									+caption('Date: ', '', '20/09/2022', 'card-events-single__caption')
									+caption('Time: ', '', '13:00 - 16:00', 'card-events-single__caption')
								.card-events-single__status.status.status--offline.status--dark.status--align-left Offline
						.events-page__card-events-single.card-events-single
							.card-events-single__image-wrapper
								.card-events-single__image
									img(src='images/events/3.jpg', alt='')
							.card-events-single__content
								h4 Think Tank Needs to Build a <br class="d-none-mobile"> National Research <br class="d-none-mobile"> System
								.card-events-single__captions
									+caption('Date: ', '', '20/09/2022', 'card-events-single__caption')
									+caption('Time: ', '', '13:00 - 16:00', 'card-events-single__caption')
								.card-events-single__status.status.status--offline.status--dark.status--align-left Offline
				.events-page__year-list
					.events-page__year-digit 20<br>21
					.events-page__year-wrapper
						.events-page__card-events-single.card-events-single
							.card-events-single__image-wrapper
								.card-events-single__image
									img(src='images/events/4.jpg', alt='')
							.card-events-single__content
								h4 Think Tank Needs to Build a <br class="d-none-mobile"> National Research <br class="d-none-mobile"> System
								.card-events-single__captions
									+caption('Date: ', '', '20/09/2022', 'card-events-single__caption')
									+caption('Time: ', '', '13:00 - 16:00', 'card-events-single__caption')
								.card-events-single__status.status.status--offline.status--dark.status--align-left Offline
						.events-page__card-events-single.card-events-single
							.card-events-single__image-wrapper
								.card-events-single__image
									img(src='images/events/2.jpg', alt='')
							.card-events-single__content
								h4 Think Tank Needs to Build a <br class="d-none-mobile"> National Research <br class="d-none-mobile"> System
								.card-events-single__captions
									+caption('Date: ', '', '20/09/2022', 'card-events-single__caption')
									+caption('Time: ', '', '13:00 - 16:00', 'card-events-single__caption')
								.card-events-single__status.status.status--offline.status--dark.status--align-left Offline
						.events-page__card-events-single.card-events-single
							.card-events-single__image-wrapper
								.card-events-single__image
									img(src='images/events/1.jpg', alt='')
							.card-events-single__content
								h4 Think Tank Needs to Build a <br class="d-none-mobile"> National Research <br class="d-none-mobile"> System
								.card-events-single__captions
									+caption('Date: ', '', '20/09/2022', 'card-events-single__caption')
									+caption('Time: ', '', '13:00 - 16:00', 'card-events-single__caption')
								.card-events-single__status.status.status--offline.status--dark.status--align-left Offline
						.events-page__card-events-single.card-events-single
							.card-events-single__image-wrapper
								.card-events-single__image
									img(src='images/events/3.jpg', alt='')
							.card-events-single__content
								h4 Think Tank Needs to Build a <br class="d-none-mobile"> National Research <br class="d-none-mobile"> System
								.card-events-single__captions
									+caption('Date: ', '', '20/09/2022', 'card-events-single__caption')
									+caption('Time: ', '', '13:00 - 16:00', 'card-events-single__caption')
								.card-events-single__status.status.status--offline.status--dark.status--align-left Offline
				.events-page__year-list.events-page__year-list--button
					.events-page__year-digit
					.events-page__year-wrapper
						.events-page__button
							+button('SHOW MORE', 'button--black', '#')
